body{
    overflow-x: hidden;
    --pink-gradient: linear-gradient(90.5deg, rgb(250, 156, 245) 1.6%, rgb(182, 76, 233) 98.2%); 
    --yellow-gradient: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%); 
}

.nav-bar{
    background: var(--yellow-gradient);
}

.banner-body{
   background: var(--pink-gradient);
   padding-top: 7.5%;
}

.nav-item{
    padding-right: 30%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
}

.logo-image{
    max-width: 60px;
    width: 100%;
    height: auto;
}

.banner-title{
    font-family: 'Montserrat', sans-serif;
}

.logo-image-second{
    padding-bottom: 2%;
    width: 19%;
    height: auto;
}


.our-mission{
    background: var(--yellow-gradient);
    padding-top: 1.5%;
}

.mission-statement{
    margin-left: 7%;
    margin-right: 7%;
}

.slogan-text{
    padding-bottom: 2.5%;
}

.slogan-text-second{
    padding-bottom: 2.5%;
    padding-left: 11.75%;
    padding-right: 11.75%;
}

.slogan-text-third{
    padding-top: 2%;
    padding-bottom: 2.5%;
    padding-right: 40.75%;
}

.slogan-text-fourth{
    padding-bottom: 2.5%;
    padding-left: 45.75%;
    margin-top: -22.2%;
    
}
.caption-spacing{
    padding-bottom: 2%;
}

.our-past-collabrators-sponsors{
    background: var(--yellow-gradient);
}

.our-mission-alternate{
    background: var(--yellow-gradient);
    padding-top: 1.5%;
}

.logo-image-alternate{
    padding-bottom: 2%;
    width: 14%;
    height: auto;
    padding-left: 4%;
}
 
.images-section{
    padding-top: .75%;
    padding-left: 5%;
}

.testmonials{
    padding-top: 1.5%; 
    background: var(--pink-gradient);
}

.slogan-text-fifth{
    padding-bottom: 2.5%;
    padding-left: 11.75%;
    padding-right: 11.75%;
}

.testmonial-caption{
    padding-left: 45%;
    padding-bottom: 1.5%;
    margin-top: -2%;
    margin-right: 5%;
}

.statistics{
    background: var(--pink-gradient);
}

.about-us-title{
    margin-left: 5%;
}

.about-us-body{
    padding-top: 3%;
    padding-bottom: 66%;
    background: var(--pink-gradient);
}

.about-us-body-text{
    margin-left: 4.75%;
    margin-right: 10% ;

}

.event-title {
    background: var(--pink-gradient);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.event-schedule {
    background: var(--yellow-gradient);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.event-info {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.pink-section {
    background: var(--pink-gradient);
    font-family: 'Montserrat', sans-serif;
}

.yellow-section {
    background: var(--yellow-gradient);
    font-family: 'Montserrat', sans-serif;
}